body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #020617;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 8px 14px;
  background: #22c55e;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

input {
  padding: 8px;
  margin: 6px 0;
  width: 100%;
}
